<!doctype html>
<html>
  <head>
    <title>HANGMAN</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
 <body>
   <div class="container">
     <h1>Your partner chose a word!</h1>

     <h2><%= @progress %></h2>
     <h2><%= @status %></h2>
     <h2><%= @guess_result %></h2>
     <h2><%= @game_over %></h2>
      
     
     
     
     <% if @status == "You win!" || @game_over == "Game Over." %> 
        <a href="/">Click here to start over.</a>
     <% end %>


      <form method="post" action="/guess">
        <label>Type a letter here to guess:</label>
        <input type="text" name="letter">
        <input type="submit">
      </form>
   </div>
   
   
 </body>
  
</html>