# shotgun -o 0.0.0.0 -p 3000

<!doctype html>
<html>
  <head>
    <title>HANGMAN</title>
  </head>
  
  <body>
    <h1> HANGMAN </h1>
    <h2> By Lucy Poteshman and Sarah Cheng </h2>
        
    <br>
    <br>

    <h3>Welcome</ h3>

    <form method="post" action="/input">
      <label>Type your word here:</label>
      <input type="text" name="word">
      <input type="submit">
    </form>

  </body>
</html>