<!-- rackup -o 0.0.0.0 -p 3000 -->

<!doctype html>
<html>
  <head>
    <title>HANGMAN</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bevan" />
  </head>
  
  <body>
    <div class="container" id="hangman">
      <h1> HANGMAN </h1>
      <h4> Welcome to Lucy Poteshman and Sarah Cheng's Game! </h4>
      <br>

      <form method="post" action="/input">
        <label>Type your word here:</label>
        <input type="text" name="word">
        <input type="submit">
      </form>
    </div>
  </body>
</html>